In [32]:
import datetime as dt
import numpy as np
import pandas as pd

In [33]:
#make pandas display large datasets without '...'s
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [34]:
data = pd.read_csv('data/raw_data.csv', index_col=0)

In [35]:
data.sample(10)  #what does the data look like?

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
AnimalID,,,,,,,,,
A680491,Tootsie,2014-07-13 18:21:00,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Black
A715066,Sadie,2015-11-02 14:02:00,Return_to_owner,NaN,Dog,Intact Female,6 months,Pit Bull Mix,White/Black
A694651,Auslyn,2015-01-02 17:33:00,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Medium Hair Mix,Black/White
A691225,Rose,2014-11-11 17:43:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Tortie
A682754,Riley,2014-07-06 12:13:00,Adoption,NaN,Dog,Neutered Male,3 years,Boxer Mix,Brown/White
A694688,Lady,2015-01-12 11:50:00,Transfer,Partner,Dog,Spayed Female,7 years,Cocker Spaniel Mix,Red/White
A670418,NaN,2014-01-08 10:42:00,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Brown Tabby
A706888,Midnight,2015-09-20 17:44:00,Adoption,NaN,Dog,Spayed Female,1 year,Pointer Mix,Black/White
A651871,Chloe,2014-03-14 13:52:00,Return_to_owner,NaN,Dog,Spayed Female,5 years,Chihuahua Shorthair Mix,Black
A699723,Delgado,2015-04-11 16:01:00,Transfer,Partner,Dog,Neutered Male,3 years,Chihuahua Shorthair Mix,Brown

## standardize AgeuponOutcome to years

In [36]:
data.AgeuponOutcome.value_counts(dropna=False)  #what are the old values? for comparison with the result

1 year       3969
2 years      3742
2 months     3397
3 years      1823
1 month      1281
3 months     1277
4 years      1071
5 years       992
4 months      888
6 years       670
3 weeks       659
5 months      652
6 months      588
8 years       536
7 years       531
2 weeks       529
10 months     457
10 years      446
8 months      402
4 weeks       334
9 years       288
7 months      288
12 years      234
9 months      224
1 weeks       171
11 months     166
1 week        146
13 years      143
11 years      126
3 days        109
2 days         99
14 years       97
15 years       85
1 day          66
6 days         50
4 days         50
16 years       36
5 days         24
0 years        22
NaN            18
17 years       17
5 weeks        11
18 years       10
19 years        3
20 years        2
Name: AgeuponOutcome, dtype: int64

In [37]:
def transform_to_years(age_string):
    '''takes as input the AgeuponOutcome feature of the raw data and outputs the corresponding number of years'''

    if age_string is np.nan:
        return np.nan

    split_string = age_string.split()

    if split_string[1].strip('s') == 'year':
        return float(split_string[0])

    elif split_string[1].strip('s') == 'month':
        return float(split_string[0]) / 12

    elif split_string[1].strip('s') == 'week':
        return float(split_string[0]) / 52

    elif split_string[1].strip('s') == 'day':
        return float(split_string[0]) / 365

In [38]:
data['AgeuponOutcome'] = data.AgeuponOutcome.apply(transform_to_years)  #apply the function

In [39]:
data.AgeuponOutcome.value_counts(dropna=False)  #looks good

1.000000     3969
2.000000     3742
0.166667     3397
3.000000     1823
0.083333     1281
0.250000     1277
4.000000     1071
5.000000      992
0.333333      888
6.000000      670
0.057692      659
0.416667      652
0.500000      588
8.000000      536
7.000000      531
0.038462      529
0.833333      457
10.000000     446
0.666667      402
0.076923      334
0.019231      317
0.583333      288
9.000000      288
12.000000     234
0.750000      224
0.916667      166
13.000000     143
11.000000     126
0.008219      109
0.005479       99
14.000000      97
15.000000      85
0.002740       66
0.016438       50
0.010959       50
16.000000      36
0.013699       24
0.000000       22
NaN            18
17.000000      17
0.096154       11
18.000000      10
19.000000       3
20.000000       2
Name: AgeuponOutcome, dtype: int64

## transform date column

In [40]:
#for now i just extract the year and month since these are the features we need for data understanding

data['year'] = data.DateTime.apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S').year)
data['month'] = data.DateTime.apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S').month)

## transform SexuponOutcome

In [41]:
data.SexuponOutcome.value_counts(dropna=False)  #what are the old values?

Neutered Male    9779
Spayed Female    8820
Intact Male      3525
Intact Female    3511
Unknown          1093
NaN                 1
Name: SexuponOutcome, dtype: int64

In [42]:
def transform_sex(sex_string, neutralized=False):
    '''takes as input the SexuponOutcome feature and returns just the sex or if the animal was neutralized'''

    if (sex_string is np.nan) or (sex_string == 'Unknown'):
        return np.nan

    split_string = sex_string.split()

    if neutralized:
        if split_string[0] == 'Intact':
            return False
        else:
            return True
    else:
        return split_string[1]

In [43]:
#apply the function
data['neutralized'] = data.SexuponOutcome.apply(lambda x: transform_sex(x, True))
data['SexuponOutcome'] = data.SexuponOutcome.apply(transform_sex)

In [44]:
data.SexuponOutcome.value_counts(dropna=False)  #looks good

Male      13304
Female    12331
NaN        1094
Name: SexuponOutcome, dtype: int64

In [45]:
data.neutralized.value_counts(dropna=False)  #looks good

True     18599
False     7036
NaN       1094
Name: neutralized, dtype: int64

Since these are a bit too many to handle we will try and reduce the number of colors.
Let's look at what values we are dealing with and how often they occur.

In [46]:
data.Color.value_counts()

Black/White                    2824
Black                          2292
Brown Tabby                    1635
Brown Tabby/White               940
White                           931
Brown/White                     884
Orange Tabby                    841
Tan/White                       773
Tricolor                        752
Blue/White                      702
Black/Tan                       672
White/Black                     643
Brown                           639
Tan                             628
White/Brown                     569
Tortie                          530
Calico                          517
Orange Tabby/White              455
Blue                            450
Brown Brindle/White             450
Black/Brown                     436
Blue Tabby                      433
White/Tan                       389
Red                             337
Torbie                          335
Brown/Black                     333
Red/White                       331
Blue Tabby/White                241
Brown Brindle                   232
Chocolate/White                 224
Buff                            199
Cream Tabby                     198
Sable                           198
Yellow                          185
Tan/Black                       183
Lynx Point                      168
Cream                           151
Chocolate                       137
Seal Point                      136
White/Blue                      131
White/Brown Brindle             115
Fawn/White                      109
White/Brown Tabby                98
Gray/White                       96
Gray                             94
Sable/White                      86
Flame Point                      85
Cream Tabby/White                79
Blue Merle                       77
Black Brindle/White              74
Fawn                             73
Chocolate/Tan                    66
Red/Black                        62
Torbie/White                     60
White/Red                        55
White/Gray                       55
Gold                             52
White/Orange Tabby               52
White/Tricolor                   51
Brown/Tan                        51
Black Smoke                      46
Black/Brown Brindle              45
Blue Merle/White                 44
Buff/White                       43
Yellow/White                     43
Black Tabby                      42
White/Buff                       39
White/Chocolate                  39
Black/Tricolor                   39
Lilac Point                      39
Black/Gray                       38
Cream/White                      38
White/Cream                      36
Gray Tabby                       35
Brown Merle                      35
Tortie/White                     33
Blue/Tan                         33
Brown Merle/White                33
Tortie Point                     32
White/Orange                     30
Blue Point                       29
Silver Tabby                     28
Blue Merle/Tan                   26
Red Merle                        26
Red/Tan                          26
Orange/White                     26
Calico Point                     25
Calico/White                     24
Tan/Brown                        24
Red Merle/White                  23
Apricot                          21
Silver/Tan                       20
Black Brindle                    20
Gold/White                       19
Fawn/Black                       19
Seal Point/White                 19
Blue Tick                        18
Black Tabby/White                18
Tricolor/White                   18
Yellow Brindle/White             17
Red Tick                         17
Black/Red                        17
Silver                           17
Cream/Black                      16
White/Blue Tabby                 16
Sable/Tan                        16
Gray/Black                       16
Chocolate Point                  16
Tan/Gray                         16
Black Smoke/White                15
Gray Tabby/White                 15
Orange                           15
Red Tick/White                   15
Lynx Point/White                 13
Brown/Tricolor                   12
White/White                      12
Sable/Black                      12
White/Liver                      12
Yellow Brindle                   12
Silver Tabby/White               12
Liver/White                      11
Blue Tick/Black                  11
Gray/Tan                         11
Tan/Silver                       11
Blue Cream                       11
Tricolor/Black                   11
Buff/Tan                         11
Black/Cream                      10
Tan/Buff                          9
Tan/Cream                         9
Brown Tabby/Black                 9
White/Black Brindle               9
Tortie/Blue Cream                 9
Brown/Gray                        8
Buff/Black                        8
Cream/Tan                         8
Red/Brown                         8
Black/Blue Merle                  8
Tricolor/Brown                    7
Blue Merle/Brown                  7
White/Red Tick                    7
Sable/Brown                       7
Brown Brindle/Black               7
Blue Tiger/White                  7
Black/Blue Tick                   6
Chocolate/Brown                   6
Tan/Tan                           6
White/Blue Merle                  6
Brown/Red                         6
Chocolate Point/White             5
White/Cream Tabby                 5
Silver/Black                      5
Black/Black Brindle               5
Black/Buff                        5
Silver/White                      4
White/Black Tabby                 4
Tan/Blue                          4
Brown/Cream                       4
Gray/Silver                       4
Blue Smoke                        4
Tan/Red                           4
Blue Tick/Tan                     4
White/Brown Merle                 4
Blue Merle/Black                  4
White/Yellow Brindle              4
Blue/Black                        4
Red/Cream                         4
Black/Black                       4
Blue Cream/White                  4
White/Red Merle                   4
Silver/Brown                      4
Blue/Cream                        3
Black Brindle/Brown               3
Chocolate/Red                     3
Black/Orange                      3
Brown Tiger                       3
Black/Black Smoke                 3
Sable/Cream                       3
Blue Tick/Red Tick                3
Seal Point/Brown                  3
Gray/Brown                        3
Blue Tick/White                   3
White/Pink                        3
Blue Tick/Brown                   3
Liver Tick                        3
Brown Brindle/Red Tick            3
White/Silver                      3
Tricolor/Tan                      3
Tortie/Orange                     3
White/Chocolate Point             3
Fawn/Blue                         3
Liver/Tan                         3
Calico/Brown Tabby                3
Black/Silver                      3
White/Gold                        3
Blue/Brown Brindle                3
Apricot/White                     3
Black/Blue                        3
Brown/Brown                       2
White/Blue Tick                   2
Red/Tricolor                      2
Red Tick/Tan                      2
White/Lynx Point                  2
Blue Point/White                  2
Fawn/Tan                          2
Apricot/Brown                     2
Gold/Gold                         2
Brown/Red Tick                    2
Tortie/Black                      2
Tricolor/Silver                   2
Black/Yellow Brindle              2
Blue Merle/Tricolor               2
Red/Red Merle                     2
Brown/Chocolate                   2
Red/Red Tick                      2
Buff/Gray                         2
Red Merle/Black                   2
Brown Tabby/Gray                  2
Brown Brindle/Tan                 2
Calico/Tricolor                   2
Chocolate/Black Smoke             2
White/Apricot                     2
White/Gray Tabby                  2
Calico/Black                      2
Tricolor/Chocolate                2
Black Tiger/White                 2
Chocolate/Black                   2
Brown Tabby/Tortie                2
Black/Brown Merle                 2
White/Yellow                      2
White/Blue Cream                  2
Brown/Buff                        2
Red Tick/Red                      2
Red/Buff                          2
Chocolate/Tricolor                2
Gray/Cream                        2
Tan/Gold                          2
Buff/Yellow                       2
Calico Point/White                2
Tricolor/Blue                     2
Cream/Gray                        2
Silver/Chocolate                  2
Brown Tabby/Orange                2
Black/Chocolate                   2
Silver Lynx Point                 2
Cream/Brown                       2
Brown Merle/Black                 2
Fawn/Brown Brindle                1
Red Tick/Brown                    1
Blue Cream/Buff                   1
Blue Cream/Blue Tabby             1
Tortie Point/White                1
Blue Tiger                        1
Tricolor/Blue Merle               1
Blue Cream/Blue Tiger             1
Agouti                            1
Chocolate/Red Tick                1
Brown/Black Brindle               1
Black Brindle/Brown Brindle       1
Blue Merle/Gray                   1
Silver/Red                        1
Brown Brindle/Blue                1
Chocolate/Brown Brindle           1
Blue Cream/Tortie                 1
Buff/Brown                        1
Cream/Seal Point                  1
Chocolate/Brown Merle             1
Gold/Black                        1
Black Smoke/Brown Tabby           1
Yellow/Black                      1
Brown/Black Tabby                 1
Black/Black Tabby                 1
Brown/Brown Merle                 1
Agouti/Brown Tabby                1
Calico/Brown                      1
Yellow Brindle/Tan                1
Brown Merle/Tan                   1
Orange Tabby/Black                1
Calico/Orange Tabby               1
Brown Brindle/Brown Merle         1
Red Tick/Blue Tick                1
Orange/Orange Tabby               1
Blue Tabby/Blue Cream             1
Tricolor/Calico                   1
Blue/Orange                       1
Red/Gold                          1
Brown/Blue                        1
White/Black Smoke                 1
White/Brown Tiger                 1
Lynx Point/Brown Tabby            1
Yellow/Yellow                     1
Yellow Brindle/Blue               1
Fawn/Tricolor                     1
Tan/Yellow Brindle                1
Gold/Buff                         1
Blue/Yellow Brindle               1
Tan/Brown Brindle                 1
Blue Tick/Brown Brindle           1
Blue Smoke/Brown                  1
Lynx Point/Gray Tabby             1
Tricolor/Brown Merle              1
Torbie/Blue Cream                 1
Red/Silver                        1
Torbie/Calico                     1
Blue/Brown                        1
Calico/Blue Cream                 1
Chocolate/Gray                    1
Blue Tabby/Tan                    1
Chocolate/Cream                   1
Gray Tabby/Black                  1
Gold/Tan                          1
Brown Brindle/Brown Brindle       1
Tortie/Calico                     1
Black Tabby/Orange                1
Ruddy/Cream                       1
Fawn/Brown                        1
Cream/Orange                      1
Brown Merle/Blue Merle            1
White/Flame Point                 1
White/Calico                      1
Brown/Silver                      1
Blue/Tortie                       1
Silver Tabby/Black                1
Tortie/Brown                      1
Red Merle/Tan                     1
Gold/Yellow                       1
Orange Tiger                      1
Blue Tick/Red                     1
Blue Merle/Blue Merle             1
Tan/Apricot                       1
Blue Tabby/Cream                  1
Cream/Red Tick                    1
Black Brindle/Black               1
Calico/Blue Tabby                 1
Cream/Red                         1
Orange Tabby/Apricot              1
Tortie Point/Lynx Point           1
Black/Yellow                      1
Pink                              1
Brown Tabby/Brown                 1
Liver Tick/White                  1
Tan/Tricolor                      1
Tan/Brown Merle                   1
Brown Tiger/White                 1
Chocolate/Gold                    1
Torbie/Brown                      1
Buff/Red                          1
Red Tick/Brown Merle              1
Brown/Blue Smoke                  1
Tortie/Black Smoke                1
Red Tick/Black                    1
Red/Blue                          1
Orange/Tan                        1
Brown Tabby/Gray Tabby            1
Sable/Buff                        1
Blue Merle/Red Merle              1
Sable/Red                         1
Brown Brindle/Blue Tick           1
Gray/Red                          1
Blue Merle/Red                    1
Orange Tabby/Orange               1
Blue Tabby/Orange                 1
Brown Brindle/Blue Cream          1
Blue Merle/Cream                  1
Liver/Buff                        1
Black/Silver Tabby                1
Name: Color, dtype: int64

In [47]:
data["ColorMix"] = data.Color.str.contains('/')
data.Color=data.Color.str.split('/', expand=True)[0]
data.Color.value_counts()

Black                6422
White                3344
Brown Tabby          2592
Brown                1951
Tan                  1674
Orange Tabby         1299
Blue                 1199
Tricolor              800
Red                   779
Brown Brindle         699
Blue Tabby            678
Tortie                580
Calico                552
Chocolate             448
Torbie                398
Sable                 324
Cream Tabby           277
Buff                  267
Yellow                230
Gray                  227
Cream                 221
Fawn                  209
Lynx Point            183
Blue Merle            165
Seal Point            158
Black Brindle          99
Flame Point            85
Gold                   77
Brown Merle            72
Black Smoke            62
Black Tabby            61
Silver                 53
Red Merle              52
Gray Tabby             51
Blue Tick              44
Orange                 43
Silver Tabby           41
Red Tick               40
Lilac Point            39
Tortie Point           34
Yellow Brindle         31
Blue Point             31
Calico Point           27
Apricot                26
Chocolate Point        21
Blue Cream             19
Liver                  15
Blue Tiger              8
Blue Smoke              5
Liver Tick              4
Brown Tiger             4
Silver Lynx Point       2
Black Tiger             2
Agouti                  2
Pink                    1
Ruddy                   1
Orange Tiger            1
Name: Color, dtype: int64

In [48]:
data.ColorMix.value_counts()

True     13924
False    12805
Name: ColorMix, dtype: int64

In [49]:
print(f"We were able to reduce the number of unique colors to: {data.Color.nunique()}")

We were able to reduce the number of unique colors to: 57

We were able to reduce the number of colors quite a bit while still retaining the information that an animal has a pure 
or mixed color (which is actually almost half of the animals). This will probably suffice for this use case.

## save data with these features

In [50]:
data.sample(10)  #check another time

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,year,month,neutralized,ColorMix
AnimalID,,,,,,,,,,,,,
A676212,NaN,2014-04-06 15:23:00,Transfer,Partner,Cat,NaN,0.016438,Domestic Shorthair Mix,Gray,2014,4,NaN,False
A720340,Carino,2016-02-19 17:27:00,Adoption,NaN,Dog,Male,2.000000,Chihuahua Shorthair Mix,Tan,2016,2,True,False
A689600,Scout,2014-12-05 08:04:00,Adoption,Foster,Dog,Male,0.166667,Miniature Pinscher/Chihuahua Shorthair,Brown,2014,12,False,True
A691114,Harley,2014-11-23 17:42:00,Adoption,NaN,Dog,Male,0.500000,Landseer Mix,Black,2014,11,True,True
A662574,Trixie,2014-12-13 17:31:00,Return_to_owner,NaN,Dog,Female,3.000000,Yorkshire Terrier Mix,Black,2014,12,True,True
A695781,Mickey,2015-02-10 18:14:00,Adoption,NaN,Cat,Male,0.333333,Domestic Shorthair Mix,Orange Tabby,2015,2,True,True
A702631,NaN,2015-05-27 16:26:00,Transfer,Partner,Dog,Male,2.000000,West Highland Mix,White,2015,5,True,True
A695724,NaN,2015-01-25 17:26:00,Adoption,NaN,Cat,Male,4.000000,Domestic Longhair Mix,Cream Tabby,2015,1,True,False
A716914,Twinkle,2015-12-07 18:00:00,Adoption,NaN,Dog,Female,0.750000,Pit Bull Mix,Blue Tiger,2015,12,True,True
A712777,Alvin,2015-09-28 16:26:00,Transfer,Partner,Cat,Male,0.038462,Domestic Shorthair Mix,Orange Tabby,2015,9,False,True

In [51]:
#save data
#data.to_csv('data/transformed_data.csv',index_label='AnimalID')

## Drop OutcomeSubtype & Transform Breed

In [52]:
data.OutcomeSubtype.value_counts(dropna=False) #a lot of NA values

NaN                    13612
Partner                 7816
Foster                  1800
SCRP                    1599
Suffering               1002
Aggressive               320
Offsite                  165
In Kennel                114
Behavior                  86
Rabies Risk               74
Medical                   66
In Foster                 52
Enroute                    8
Court/Investigation        6
At Vet                     4
In Surgery                 3
Barn                       2
Name: OutcomeSubtype, dtype: int64

In [53]:
data = data.drop(["OutcomeSubtype"], axis = 1)

In [54]:
data["BreedMix"] = data.Breed.str.contains("BreedMix") #creating new boolean column for Mix

In [55]:
data["Breed"] = data['Breed'].str.replace(" Mix", "")

In [56]:
data["Breed"] = data['Breed'].str.replace("/.*", "")

In [57]:
data[data.AnimalType == 'Dog'].Breed.nunique() #reduced unqiue breeds by over 1000

187

In [58]:
data[data.AnimalType == 'Dog'].Breed.value_counts()

Chihuahua Shorthair                   2145
Pit Bull                              2113
Labrador Retriever                    1915
German Shepherd                        826
Australian Cattle Dog                  511
Dachshund                              510
Boxer                                  360
Border Collie                          334
Miniature Poodle                       310
Australian Shepherd                    229
Yorkshire Terrier                      226
Jack Russell Terrier                   222
Beagle                                 220
Miniature Schnauzer                    220
Catahoula                              218
Rat Terrier                            215
Siberian Husky                         194
Rottweiler                             181
Shih Tzu                               176
Chihuahua Longhair                     168
Cairn Terrier                          142
Pointer                                139
Great Pyrenees                         131
American Bulldog                       130
Anatol Shepherd                        118
Australian Kelpie                      116
Staffordshire                          112
Pug                                    111
Maltese                                111
American Staffordshire Terrier         110
Golden Retriever                       107
Miniature Pinscher                     102
Plott Hound                             96
Chow Chow                               95
Black Mouth Cur                         89
Cocker Spaniel                          84
Cardigan Welsh Corgi                    84
American Pit Bull Terrier               83
Doberman Pinsch                         71
Basset Hound                            71
Lhasa Apso                              70
Boston Terrier                          67
Queensland Heeler                       61
Blue Lacy                               59
Pomeranian                              57
Manchester Terrier                      56
Dachshund Wirehair                      56
Dachshund Longhair                      54
Border Terrier                          53
Carolina Dog                            48
Flat Coat Retriever                     48
Toy Poodle                              45
Chinese Sharpei                         43
Great Dane                              43
Collie Smooth                           43
English Bulldog                         43
Pekingese                               38
Rhod Ridgeback                          38
Bull Terrier                            38
Shetland Sheepdog                       37
Mastiff                                 36
Whippet                                 34
Norfolk Terrier                         30
Pembroke Welsh Corgi                    30
Soft Coated Wheaten Terrier             29
Weimaraner                              27
Bruss Griffon                           26
Redbone Hound                           25
Black                                   25
German Shorthair Pointer                24
Parson Russell Terrier                  23
West Highland                           22
Wire Hair Fox Terrier                   21
Akita                                   21
Harrier                                 21
Shiba Inu                               21
Standard Poodle                         20
Bichon Frise                            20
Collie Rough                            19
Papillon                                19
Greyhound                               18
Basenji                                 18
Belgian Malinois                        18
Norwich Terrier                         18
Standard Schnauzer                      17
Dogo Argentino                          17
Vizsla                                  17
Dalmatian                               17
Alaskan Husky                           16
Italian Greyhound                       15
English Pointer                         15
American Eskimo                         14
Bulldog                                 14
Pharaoh Hound                           13
Chesa Bay Retr                          13
Pbgv                                    13
St. Bernard Smooth Coat                 12
Newfoundland                            12
Cavalier Span                           12
Beauceron                               12
Havanese                                11
Bullmastiff                             11
Finnish Spitz                           11
Brittany                                11
French Bulldog                          11
Alaskan Malamute                        11
Smooth Fox Terrier                      10
St. Bernard Rough Coat                  10
Bernese Mountain Dog                     9
Schipperke                               9
Dutch Shepherd                           9
Treeing Walker Coonhound                 9
Leonberger                               9
Silky Terrier                            8
English Coonhound                        8
Cane Corso                               8
Bloodhound                               8
English Springer Spaniel                 8
Tibetan Terrier                          8
Toy Fox Terrier                          8
Airedale Terrier                         8
Bluetick Hound                           7
Irish Wolfhound                          6
Feist                                    6
Landseer                                 6
Keeshond                                 6
Irish Terrier                            6
Swedish Vallhund                         6
Affenpinscher                            6
Patterdale Terr                          6
Canaan Dog                               5
American Foxhound                        5
Welsh Terrier                            5
Chinese Crested                          5
Podengo Pequeno                          5
Dogue De Bordeaux                        5
Scottish Terrier                         5
German Wirehaired Pointer                5
Saluki                                   5
Greater Swiss Mountain Dog               4
Boerboel                                 4
Skye Terrier                             4
Schnauzer Giant                          4
Treeing Cur                              4
Tibetan Spaniel                          4
Boykin Span                              4
Australian Terrier                       4
Glen Of Imaal                            4
Ibizan Hound                             3
English Foxhound                         3
Belgian Sheepdog                         3
Bedlington Terr                          3
Irish Setter                             3
Bull Terrier Miniature                   3
Japanese Chin                            3
Old English Bulldog                      3
Presa Canario                            3
Jindo                                    3
Samoyed                                  3
Picardy Sheepdog                         3
Nova Scotia Duck Tolling Retriever       3
English Shepherd                         3
English Setter                           2
Unknown                                  2
Old English Sheepdog                     2
Field Spaniel                            2
Bearded Collie                           2
Neapolitan Mastiff                       2
Wirehaired Pointing Griffon              2
Port Water Dog                           2
German Pinscher                          2
Belgian Tervuren                         2
Welsh Springer Spaniel                   2
Hovawart                                 1
Norwegian Elkhound                       1
Spinone Italiano                         1
English Cocker Spaniel                   1
Sealyham Terr                            1
Swiss Hound                              1
Entlebucher                              1
Kuvasz                                   1
Spanish Mastiff                          1
Lowchen                                  1
Mexican Hairless                         1
Otterhound                               1
Treeing Tennesse Brindle                 1
Afghan Hound                             1
Name: Breed, dtype: int64

In [59]:
data[data.AnimalType == 'Cat'].Breed.nunique() #still a reduction by about 50%, but initial values were much lower anyway

33

In [60]:
data[data.AnimalType == 'Cat'].Breed.value_counts()

Domestic Shorthair      8958
Domestic Medium Hair     883
Domestic Longhair        547
Siamese                  426
Snowshoe                  78
Manx                      48
Maine Coon                47
Russian Blue              35
Himalayan                 18
Persian                   14
Ragdoll                   12
American Shorthair         9
Angora                     7
Japanese Bobtail           6
Bombay                     5
Bengal                     5
Balinese                   5
Tonkinese                  4
British Shorthair          4
Pixiebob Shorthair         3
Devon Rex                  2
Exotic Shorthair           2
Sphynx                     2
Javanese                   2
Turkish Van                2
Cymric                     2
Abyssinian                 2
Munchkin Longhair          1
Havana Brown               1
Cornish Rex                1
Burmese                    1
Norwegian Forest Cat       1
Ocicat                     1
Name: Breed, dtype: int64

In [63]:
#data.to_csv('data/transformed_data.csv',index_label='AnimalID')

## transform to numeric features

transform non-numeric features for modeling

In [64]:
data_num = data.drop(labels=['Name','DateTime','Breed','Color'],axis=1)

In [65]:
data_num.head()

,OutcomeType,AnimalType,SexuponOutcome,AgeuponOutcome,year,month,neutralized,ColorMix,BreedMix
AnimalID,,,,,,,,,
A671945,Return_to_owner,Dog,Male,1.000000,2014,2,True,True,False
A656520,Euthanasia,Cat,Female,1.000000,2013,10,True,False,False
A686464,Adoption,Dog,Male,2.000000,2015,1,True,True,False
A683430,Transfer,Cat,Male,0.057692,2014,7,False,False,False
A667013,Transfer,Dog,Male,2.000000,2013,11,True,False,False

In [66]:
data_num['AnimalType'] = data_num.AnimalType.apply(lambda x: 1 if x == 'Dog' else 0)

data_num['SexuponOutcome'] = data_num.SexuponOutcome.apply(lambda x: 1 if x == 'Female' else 0)

data_num['BreedMix'] = data_num.SexuponOutcome.apply(lambda x: 1 if x == 'True' else 0)

data_num['ColorMix'] = data_num.SexuponOutcome.apply(lambda x: 1 if x == 'True' else 0)

data_num['neutralized'] = data_num.neutralized.apply(float)

In [67]:
data_num.head()

,OutcomeType,AnimalType,SexuponOutcome,AgeuponOutcome,year,month,neutralized,ColorMix,BreedMix
AnimalID,,,,,,,,,
A671945,Return_to_owner,1,0,1.000000,2014,2,1.0,0,0
A656520,Euthanasia,0,1,1.000000,2013,10,1.0,0,0
A686464,Adoption,1,0,2.000000,2015,1,1.0,0,0
A683430,Transfer,0,0,0.057692,2014,7,0.0,0,0
A667013,Transfer,1,0,2.000000,2013,11,1.0,0,0

In [68]:
#save data
#data_num.to_csv('data/transformed_data_num.csv',index_label='AnimalID')